body {
    text-align: center;
    padding: auto;
    background-image: url("images/anime-sage-bg2.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color:black;
    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

#quote {
    font-size: 2rem;
    border: 1px solid rgba(0, 0, 0);
    backdrop-filter: blur(10px);                 /* Blurs the background behind */
    -webkit-backdrop-filter: blur(10px);         /* Safari support */
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 0.5rem;
    color: black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#result {
    font-size: 3em;
    font-weight: bold;
}

#result-container {
    display: none;
}

#button-container {
    display: flex;
    justify-content: space-around;
}

#toast {
    position: relative;
    padding: 10px 0px;
    flex-direction: column;
    justify-content: center;
}

.or {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

.blur {
    /* background-color: rgba(0, 0, 0, 0.30); */
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);                 /* Blurs the background behind */
    -webkit-backdrop-filter: blur(10px);         /* Safari support */
    padding: 2rem; 
    border: 1px solid rgba(0, 0, 0, 0.5);                              /* Add some spacing */
    border-radius: 1rem;                         /* Rounded corners (optional) */
}  

.answer {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
 
    #result {
        font-size: 2rem;
    }

    #quote {
        font-size: 1em;
        margin: 1em;
    }

    #button-container {
        width: 100%;
        justify-content: space-between;
    }

    .blur {
        padding: 1rem;
    }
}