body {
    text-align: center;
    padding: auto;
    background-image: linear-gradient(to bottom right, #f5f5f5, #ff7f50);
}

h1 {
    font-size: 3rem;
    font-family: serif;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
    font-family: serif;
    font-weight: 700;
}

#quote {
    font-size: 2rem;
    background-color: rgba(255, 253, 253, 0.478);
    padding: 1rem;
    border-radius: 1rem;
}

#result {
    font-size: 4rem;
    margin: 1rem;
    font-family: sans-serif;
    font-weight: 700;
    background-color: rgba(255, 253, 253, 0.478);
    padding: 1rem;
    border-radius: 1rem;
}

#button-container {
    display: flex;
    justify-content: space-around;
}

.answer {
    width: 100px;
}

#toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media screen and (max-width: 600px) {
    #quote {
        font-size: 1em;
        margin: 1em;
    }

    #button-container {
        width: 100%;
        justify-content: space-between;
    }
}